@charset "UTF-8";
body{
    padding: 0; margin: 0;
    background: #0c0b4c;
}
.container{
    width: 1000px; height: 1000px;
    background:url(img/bg.png);
    margin: 100px auto;
    overflow: hidden;
}
.container .b1 img{
    transform: scale(1.2);
}
.container .m2 img{
    transform: scale(1.2);
}
.container .m1 img{
    transform: scale(1.2);
}